.card{
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.btn{
    background-color: #5D4037;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}