.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.page{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 5px;
    width: 5%;
    background-color: blue;
    color: #fff;
    border: none;
    font-weight: 700;
    border-radius: 3px;
}